.heroContainer {
    display: flex;
    background-color: rgba(245, 245, 245, 1);
    padding: 40px 0px;

}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    height: 50%;
    text-align: center;
    padding: 24px;
}

.heroText {

    flex-wrap: wrap;
    font-family: 'Hind';
    font-style: normal;
    font-size: 48px;
    line-height: 85px;
}


.heroImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    margin-left: 72px;
}
.heroImageContainer img{
    align-self: center;

}

   


.heroImageContainer img:hover {
    transition: all 0.5 ease-in-out;
    align-items: center;
    transform: scale(1.05);
}

@media screen and (max-width: 980px){
    .heroContainer{
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .textContainer{
        display: flex;
        width: 100%;
        padding: 0px;
    }
    .heroImageContainer {
        display: flex;
        max-width: 100%;
        margin-left: 0px;
        padding: 0px 12px;
    }
    
    
}

@media screen and (max-width: 500px){
    .heroText {
        font-size: 40px;
        line-height: 65px;
    }
}

