.dnavbar-container{
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #030303;
    justify-content: center;
    align-items: center;

}
.dtitle{
    color: rgb(255,255,255,0.87);
    font-size: 1.5rem;
    font-weight: 500;
}
.icon-siteContainer{
    display: flex;
    right: 56px;
    position: absolute;
    flex-direction: column-reverse;
    gap: 8px;
    
}
.socialIconsContainer{
    display: flex;
    gap: 24px;
    font-size: 1.5rem;
    cursor: pointer;

}
.social-icon{
    color: rgb(255, 255, 255, 0.7);

}
.social-icon:hover{
    color: rgb(255, 255, 255, 0.87);
}

.site-link{
    color: #D1516F;
    font-weight: 500;
}


@media screen and (max-width: 768px){

    .dnavbar-container{
       display: flex;
       justify-content: space-between;
    }
    .dtitle{
        margin-left: 12px;
        justify-content: flex-start;
    }
    .icon-siteContainer{   
        justify-content: flex-end;
        right: 12px;

    }
    
}