.ncontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;

}
.ntitle{
    font-size: 3rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.87);
}
.ntext {
    margin: 24px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.87);
}

.ntbContainer{
    display: flex;
    gap: 8px;
}



