.sidebarContainer{
    width: 200px;
    height: 100%;
    background-color: black;
    
}

.sidebarLink{
    color: rgb(255, 255, 255, 0.75);
    text-decoration: none;
}  
  
.sidebarLink:hover{
    color: rgb(0,0,0, 0.87);
}

.sidebarItem{
    list-style: none;
    cursor: pointer;
    padding: 12px 24px;
    transition: 0.2s ease-in-out;
}    


.sidebarItem:hover {
    background-color: rgb(255, 255, 255, 0.87);
}    

    






