.card__container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: 12px 0px;
    width: 320px;
    height: 400px;
    
}
.wishlist__logo{
    display: none;
}
.title {
    display: none;
}

.card__image {
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 400px;

}

.card__image:hover {
    mix-blend-mode: normal;
    transform: scale(1.2);
}

.card__container:hover .wishlist__logo {
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.87);
    top: 12px;
    right: 12px;
    font-size: 2rem;
    padding: 12px 8px 2px 8px ;
    border-radius: 8px;
    cursor: pointer;

}

.card__container:hover .title {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255, 0.87);
    margin-bottom: 8px;
    position:absolute;
    bottom: 8px;
    left: 24px;
    justify-self: center;

}