.form__container{
    background: linear-gradient(to bottom, #d78799, rgba(245, 245, 245));
    margin: 32px 0px;
    display: inline-block;
}
.form__header {
    margin: 56px;
}

.formText{
    text-align: center;
    margin-bottom: 24px;
}
.label__textarea{
    display: block;
    margin: 12px 20px;
    height: 5rem;
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0, 0.60);
    border-radius: 4px;
    box-sizing: border-box;
}
.label__textarea:focus{
    border: 2px solid rgb(0, 0, 0, 0.60);
    outline: none;

}
.button__send{
    margin:  56px;
    text-align: center;
}

.label__textarea{
    font-style: normal;
    font-family: 'hind' sans-serif;

}
.label__textarea::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1rem;
}
.label__textarea:focus{
    color: rgb(0, 0, 0, 0.87);
    font-size: 1rem;
    font-family: 'Roboto';
    font-style: normal;

}

