.productsContainer {
    display: flex;
    border: 1px solid black;
    margin: 12px;
    width: 50%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 32px;
    border: 1px solid black;
    


}
.productTitle{
    font-size: 2rem;
}

.buttonPriceContainer {
    display: flex;
    width: fit-content;
    border: 1px solid black;
    position: relative;
    max-width: auto;
}

.price{
    margin-right: 80px;
}

