.productsContainer {
    display: flex;
    margin: 48px;
    width: fit-content;
    
}

.productImage{
    width: 50vh;
    height: 40vh
}
.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 32px;



}
.productTitle{
    font-size: 2rem;
    font-weight: 450;
}

.buttonPriceContainer {
    display: flex;
    width: fit-content;
    position: relative;
    max-width: auto;
}

.price{
    margin-right: 80px;
    width: fit-content;
}


@media screen and (max-width: 768px) {
   .productsContainer{
    display: block;
   }

   .productTitle{
    font-size: 1.5rem;
   }
   .buttonPriceContainer {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    position: relative;
    max-width: auto;
}
}