.heroContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 56px;

}

.textContainer {
    display: block;
    flex-wrap: wrap;
    width: 45%;
    height: 50%;
    text-align: center;
}

.heroText {

    flex-wrap: wrap;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-size: 3rem;
    line-height: 85px;
    color: rgba(0, 0, 0, 0.87)
}
.buttonContainer{
   margin: 48px 0px;
}


.heroContainer img {
    align-items: center;
}

.heroContainer img:hover {
    transition: all 0.5 ease-in-out;
    align-items: center;
    transform: scale(1.05);
}