.cartContainer{
    margin-top: 7rem;
    background-color: rgba(236, 225, 225, 0.1);
}
.emptyPage {
    display: flex;
    align-items:center;
}

.cartPageTitle{
    font-size: 2rem;
    margin: 24px;
}

.cartPageItemTitle{
    font-size: 2rem;
    margin: 48px;
    font-weight: 500;
    justify-content: space-between;
}

.checkoutButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin: 48px;
    
}

.checkoutButton{
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: black;
    color:rgba(255, 255, 255, 0.8) 
}

