.cartContainer{
    margin: 7rem 24px 24px 24px;

    background-color: rgba(236, 225, 225, 0.1);
    
    
}
.emptyPage {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 48px;
}

.cartPageTitle{
    font-size: 2rem;
    margin: 24px 0px;
}

.cartPageItemTitle{
    font-size: 2rem;
    font-weight: 500;
}

.checkoutButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin: 48px;
    
}

.checkoutButton{
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #212529;
    color:rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}
.checkoutButton:hover{
    transform: translateX(2px);
    color: black;
    background-color:rgba(255, 255, 255, 0.87) 
}

@media screen and (max-width: 600px) {
    .cartContainer{
        margin: 7rem 12px 48px 12px;
        background-color: rgba(236, 225, 225, 0.1); 
    }
  
}

