.imageContainer {
    margin-top: 5rem;
    text-align: center;
}
.appFormContainer{
    display: flex;
    justify-content: space-around;
    background-color: #EEEEEE;   
}
.contactText{
    margin-top: 5rem;
    padding: 48px;
    font-size: 3rem;
}

.cont{
    color: rgba(209, 81, 111, 0.87)
}
.tit{
    font-family: "hind" ;
    margin-top: 48px;
    color: rgba(209, 81, 111, 0.87)
}
.para {
    font-size: 1.2rem;
    margin: 12px 0px;
}

.num {
    color: rgba(209, 81, 111, 0.87);
    font-size: 1.5rem;

}

@media screen and (max-width: 768px) {
    .appFormContainer{
        display: block;
    }
 
 
}
    


