.shopContainer {
    margin-top: 8rem;
    margin-bottom: 40px;
    justify-content: space-around;   
    display: flex;
    flex-wrap: wrap;
}

@media screen and(max-width: 376px) {
    .shopContainer{
        display: block;
    }
    
}