.dnavbar-container{
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #030303;
    justify-content: center;
    align-items: center;

}
.dtitle{
    color: rgb(255,255,255,0.87);
    font-size: 1.5rem;
}
.icon-siteContainer{
    display: flex;
    right: 56px;
    position: absolute;
    flex-direction: column-reverse;
    gap: 8px;
    
}
.socialIconsContainer{
    display: flex;
    gap: 24px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 1.5rem;
    cursor: pointer;

}
.social-icon{
    text-decoration: none;
}
.social-icon:hover{
    color: rgb(255, 255, 255, 0.87);
}
.site-linkContainer:hover{
     max-width: fit-content;
     border-bottom: 2px solid #D1516F;;
    
}
.site-link{
    color: #D1516F;
    font-weight: 500;
    text-decoration: none;
}


@media screen and (max-width: 500px){

    .dnavbar-container{
    }
    .site-linkContainer{
        position: relative;
        padding: 8px;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
}